<nav class='navbar fixed-top navbar-expand-lg navbar-dark bg-dark mb-3'>
  <div class='container-fluid'>
    <p class='navbar-brand' style='margin: 5px;'>Programming Posts</p>
    <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarNav'>
      <ul class='navbar-nav ms-md-auto gap-2'>
        <li class='nav-item rounded'>
          <%= link_to posts_path, class: 'nav-link' do %>
            <i class='bi bi-book-fill me-2'></i>
            Posts
          <% end %>
        </li>
        <% if user_signed_in? %>
          <li class='nav-item rounded'>
            <%= link_to network_path, class: 'nav-link' do %>
              <i class='bi bi-people-fill me-2'></i>
              Network
            <% end %>
          </li>
          <li class='nav-item rounded'>
            <%= link_to new_post_path, class: 'nav-link' do %>
              <i class='bi bi-file-plus-fill me-2'></i>
              Add Post
            <% end %>
          </li>
          <li class='nav-item dropdown rounded'>
            <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-bs-toggle='dropdown' aria-expanded='false'><i class='bi bi-person-fill me-2'></i>Profile</a>
            <ul class='dropdown-menu dropdown-menu-end' aria-labelledby='navbarDropdown'>
              <li>
                <%= link_to 'My Posts', my_posts_path, class: 'dropdown-item' %>
              </li>
              <li>
                <%= link_to 'My Network', my_network_path, class: 'dropdown-item' %>
              </li>
              <li>
                <hr class='dropdown-divider'>
              </li>
              <li>
                <%= button_to 'Log Out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class='nav-item rounded'>
            <%= link_to new_user_session_path, class: 'nav-link' do %>
              <i class='bi bi-person-fill me-2'></i>
              Sign In
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
